<!DOCTYPE html>
<html>
<head>
	<title>ewear</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet">


</head>

<style>
/* Rules for icon sizes: */
.material-icons.md-48 { font-size: 96px; }
.material-icons.md-200 { font-size: 150px; }
</style>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-SignUp" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EWEAR</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-SignUp">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="like">Like</span>
      	<li><a href="closet.html">Closet</a></li>
      </ul>
		</div>
		</div>
	</nav>

<div class="container">
  <a href="#" target="_blank">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/7f/90/bc/7f90bc34f911b2facc1455586523eeb5.jpg" />
  </a>
</div>

<div class="icons">
  <a href="#" >
    <i class="material-icons md-200 white">chevron_left</i>
    <i id= "likebtn" class="material-icons md-48 pink">favorite</i>
    <i class="material-icons md-200 white">chevron_right</i>
    <!--
    <span class="glyphicon glyphicon-chevron-left white"></span> 
    <span class="glyphicon glyphicon-heart pink"></span> 
    <span class="glyphicon glyphicon-chevron-right white"></span> 
  -->
  </a>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/mainLike.js"></script>


</body>
</html>