.row {

	text-align: center;
}

.container {
	
	width: 450px;
}

.form-control {

	width: 300px;
}

h2 {
	margin-top: 20%;
	font-family: 'Amiri', serif;
	text-align: center;
	
}

hr {
	width: 350px;
	border-top: 1px solid black;

}

html {
	height: 100%;
}







